{% extends "base.html" %}
{% block title %}Футболки{% endblock %}
{% block content %}
    <h1>Футболки</h1>
    <div class="product-list">
        {% for product in products %}
            <div class="product-item">
                <a href="{{ product.get_absolute_url }}">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" width="150">
                    {% endif %}
                    <h3>{{ product.name }}</h3>
                </a>
                <p>Цена: {{ product.price }} руб.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}